<p>brands-list works!</p>

{{ brands$ | async | json }}

<table mat-table [dataSource]="brands$" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id</th>
    <td mat-cell *matCellDef="let element">
      {{ element.id }}
      {{ setId(element.id) }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef>brand_name</th>
    <td mat-cell *matCellDef="let element">{{ element.brand_name }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef>creator_fullname</th>
    <td mat-cell *matCellDef="let element">{{ element.creator_fullname }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="showBrandsDetails(row)"
    class="clickable"
  ></tr>
</table>

<br />

<button mat-raised-button color="primary" (click)="createBrands()">
  Create
</button>

<br />
