<mat-card class="example-card" *ngIf="brands$ | async; let brands">
  <mat-card-header>
    <mat-card-title
      >{{ brands.brand_name | titlecase }}
      {{ brands.creator_fullname | uppercase }}</mat-card-title
    >
    <mat-card-subtitle>{{ brands.type_of_car | lowercase }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ul>
      <li><b>Brand :</b> {{ brands.brand_name }}</li>
      <li><b>Contact email : :</b> {{ brands.contact_email }}</li>
      <li><b>Creation Date :</b> {{ brands.creationDate }}</li>
      <li><b>Type of car :</b> {{ brands.type_of_car }}</li>
      <li><b>Creator name :</b> {{ brands.creator_fullname }}</li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteBrands(brands.id)">
      Delete
    </button>
    <button mat-raised-button color="primary" (click)="updateBrands(brands)">
      Update
    </button>
  </mat-card-actions>
</mat-card>

<button mat-raised-button color="warn" (click)="goBack()">Go Back</button>
